streamlit==1.45.1
pandas
python-dotenv
requests
boto3
beautifulsoup4
langchain
langchain-openai
langchain-community
langgraph
lxml
chromadb
matplotlib
pymupdf
faiss-cpu
gspread==6.2.1
oauth2client==4.1.3 